{% extends 'baseEtic.html.twig' %}

{% block body %}


    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-sm-4 col-xs-12">
            {% if title is defined %}
                <h4 class="page-title">{{ title }}</h4>
            {% endif %}
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-sm-4 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('etic_anasayfa') }}">Anasayfa</a></li>
                {% if title is defined %}
                    <li class="active">{{ title }}</li>
                {% endif %}
            </ol>
        </div>
        <!-- /.breadcrumb -->
        <div class="col-sm-4 col-xs-12 text-right">
        </div>
    </div>

    <div class="row">
        {% if image is defined %}
            <div class="col-md-4">
                <div class="white-box">
                    <img src="{{ image }}" width="100%" >
                </div>
            </div>
        {% endif %}
        <div class="col-md-12">
            <div class="white-box">

                <form action="{{ path('sendmail') }}" method="post">
                    <div class="form-group">
                        <select class="custom-select w-100" name="template" id="template" required>
                            <option value="">Lütfen mail şablonu Seçiniz</option>
                            <option value="welcome">Hoş geldiniz</option>
                            <option value="news">Haber</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="select2" name="emails[]" id="emails" multiple required>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#emails").select2({
            placeholder: "Select users",
            allowClear: true
        });
    </script>
{% endblock %}